agm-map {
    height: 15em;
    width: 100%;
   }

p{
    font-size: 24pt; 
    line-height: 1.2em; 
    color: white; 
    text-align: center;
}

@media (max-width: 760px)
{
  P{
      font-size: 16pt;
  }

}