<div class="container-fluid" style="height: 32em;" >
  <swiper [config]="config" *ngIf="comics" >
    <div *ngFor="let item of comics" >
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <div class="flip-container" style="padding: 2em;">
          <div class="flipper">
            <div class="front">
              <img class="card-img-top" src="{{ item.thumbnail.path }}.{{item.thumbnail.extension}}" style="width: 100%; cursor: pointer;" (click)="print(item)" alt="Card image cap">
            </div>
            <div class="back">
              <img class="card-img-top" src="{{ item.thumbnail.path }}.{{item.thumbnail.extension}}" style="width: 100%; cursor: pointer;" (click)="print(item)" alt="Card image cap">
            </div>
          </div>
        </div>
      </div>
    </div>
  </swiper>
</div>


